<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="https://kit.fontawesome.com/9e53fbc742.js" crossorigin="anonymous"></script>
</body>
</html>